language: node_js

node_js:
  - "11"

branches:
  only:
    - master

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.15.2
  - export PATH="$HOME/.yarn/bin:$PATH"

before_script:
  - yarn
  - yarn build